// Styles for: Variables
// Authors: Craig Collins
// Created date: 07/07/2016
// Notes: Site variables for font-families, colours and more...

// BASE FONT SIZE
$pixelBase: 10;

// PRIMARY COLOUR
$primary: #000;
$grey: #1a1a1a;
$white: #FFFFFF;
$black: #000000;

// SITE FONTS
$bodyFont: Arial, sans-serif;

$bodyText: #444444;

// GRID SYSTEM
$maxColCount : 12;
$gutterSpacing: 1.5;
