// Styles for: Font imports
// Authors: Craig Collins
// Created date: 11/07/2016
// Notes: Font import for Galano Grotesque

/*@font-face {
    font-family: 'galano_grotesquelight';
    src: url('/Static/dist/fonts/font/font-Light-webfont.eot');
    src: url('/Static/dist/fonts/font/font.eot?#iefix') format('embedded-opentype'),
         url('/Static/dist/fonts/font/font-Light-webfont.woff2') format('woff2'),
         url('/Static/dist/fonts/font/font-Light-webfont.woff') format('woff'),
         url('/Static/dist/fonts/font/font-Light-webfont.ttf') format('truetype'),
         url('/Static/dist/fonts/font/font-Light-webfont.svg#galano_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;

}*/